#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-gap: 2px;
    background-color: #333;
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
}

.black {
    background-color: black;
    border-radius: 50%;
}

.white {
    background-color: white;
    border-radius: 50%;
}

#message {
    font-size: 20px;
    margin-top: 10px;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

#resetButton, #soundToggleButton {
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}